---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} David A. All rights reserved.
    <div class="social-links">
      <a href="  " target="_blank" rel="noopener noreferrer" aria-label="Follow David A on X">
        <iconify-icon icon="simple-icons:x" width="24"height="24"></iconify-icon>
      </a>
      <a href="https://github.com/glaciergh0st" target="_blank" rel="noopener noreferrer" aria-label="Go to David.A Github">
        <iconify-icon icon="mdi:github" width="30" height="30"></iconify-icon>
      </a>
    </div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
